<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block; //esto hace que se muestre: para ocultarlo se pone none.
        //all: initial;
      }
    </style>
    <!--
    <h2>Mi usuario es el {{userId}} y mi IBAN es:  [[IBAN]]</h2>
    <h3>Y mi balance es {{balance}}</h3>
  -->
  <h1>Sus cuentas </h1>
  <template is="dom-repeat" items="{{accounts}}">
    <span>IBAN - {{item.IBAN}}</span>
    <span>Saldo - {{item.balance}}</span>
    <br/>
  </template>
     <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga -->
    <iron-ajax auto
      id="getAccountByUserIdV1"
      url="http://localhost:3000/apitechu/v1/accounts/{{id}}"
      handle-as="json"
      on-response="showData">

 <!-- Para iron-ajax:  en el id se indica un nombre cualquiera -->
  <!-- Para iron-ajax:  url ponemos la url del postman con http y el id con variable two-way -->
  <!-- Para iron-ajax:  handle-as para que admita el json -->
  <!-- Para iron-ajax:  ponemos una función manejadora en el  on-response -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {

        return {

          userId: {
            type: Number
          },
          accounts:{
            type: Array
          }
          /*
          IBAN: {
            type: String
          },
          balance: {
            type: Number
          }*/
        };
      }
      //Definimos otra función:
      showData(data){
        console.log("showData");

        console.log(data.detail.response[0]); //esto llega del backend
        /*
        console.log(data.detail.response[0].userId);
        console.log(data.detail.response[0].IBAN);
        console.log(data.detail.response[0].balance);

         this.userId = data.detail.response[0].userId;
         this.IBAN = data.detail.response[0].IBAN;
         this.balance = data.detail.response[0].balance;
         */
         this.accounts = data.detail.response;
      }
    }
    window.customElements.define(CuentasUsuario.is, CuentasUsuario);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>
