<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block; //esto hace que se muestre: para ocultarlo se pone none.

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>

    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span>  <!-- necesitamos el dolar porque estamos en un DOM que tiene dentro otro dom, y así podemos referenciar el evento con este elemento-->
    <!--
    <h2>Login usuario: Soy [[first_name]] [[last_name]]</h2>
    <h3>Y mi email es [[email]] </h3>
  -->
     <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga -->
    <!--iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"-->

 <!-- Para iron-ajax:  en el id se indica un nombre cualquiera -->
  <!-- Para iron-ajax:  url ponemos la url del postman con http y el id con variable two-way -->
  <!-- Para iron-ajax:  handle-as para que admita el json -->
  <!-- Para iron-ajax:  ponemos una función manejadora en el  on-response -->
  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login/"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError">

    <!-- hay que poner el content-type y el metodo poque por defecto es GET -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }
      //Definimos otra función:

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        this.isLogged = true;
        //Se hace la redirección
        window.location = "user/"+data.detail.response.id;
      }
      login(){
        console.log("hacemos login");
        console.log("hacemos login222");

        var loginData = {
          "email": this.email,
          "password" : this.password
        };

        //Ahora tenemos que definir el body de la petición,
        //el dolar referencia los valores de las propiedades
        this.$.doLogin.body = JSON.stringify(loginData);

        //Ahora enviamos la petición:

        this.$.doLogin.generateRequest();

        console.log("Petición enviada");

      }
      showError(error){
          console.log("Lo has hecho MAAAAAL");
          console.log(error);

      }

      showData(data){
        console.log("showData");

        console.log(data.detail.response); //esto llega del backend

        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

         this.first_name = data.detail.response.first_name;
         this.last_name = data.detail.response.last_name;
         this.email = data.detail.response.email;
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>
