<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block; //esto hace que se muestre: para ocultarlo se pone none.
        //all: initial;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>Y mi email es [[email]] </h3>

     <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga -->
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">

 <!-- Para iron-ajax:  en el id se indica un nombre cualquiera -->
  <!-- Para iron-ajax:  url ponemos la url del postman con http y el id con variable two-way -->
  <!-- Para iron-ajax:  handle-as para que admita el json -->
  <!-- Para iron-ajax:  ponemos una función manejadora en el  on-response -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {

          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }
      //Definimos otra función:
      showData(data){
        console.log("showData");

        console.log(data.detail.response); //esto llega del backend

        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

         this.first_name = data.detail.response.first_name;
         this.last_name = data.detail.response.last_name;
         this.email = data.detail.response.email;
      }
    }
    window.customElements.define(VisorUsuario.is, VisorUsuario);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>
